PORT=5001
MONGODB_URI=mongodb://localhost:27017/ai-form-insights
JWT_SECRET=your-super-secret-jwt-key-change-this
GEMINI_API_KEY=AIzaSyDrUVyl-Od-Ul7y-Jt_OExu68mspxOeNX4
STRIPE_SECRET_KEY=sk_test_your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=whsec_your-webhook-secret
STRIPE_PRICE_PRO=price_your-pro-price-id
GOOGLE_CLIENT_ID=412596579268-ctuqk5mjsn8c2a0n3a9vtleai5pliucg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
FRONTEND_URL=http://localhost:3000